server {
    listen       80;
    listen  [::]:80;
    server_name  ${DOMAIN_MAIN};

    root   /projects;
    index  index.html index.htm;

    # SHELL_CONTROL_SSL_ONLY_START
    # SHELL_CONTROL_SSL_ONLY_END
}
